@model test.Models.UsersLogin
@{
    ViewBag.Title = "Accueil";
}


<h2>Accueil</h2>

<style>

       
     table {
        margin: 5px;
        padding: 0px;
        width: 100%;
        box-shadow: 10px 10px 5px #888888;
        border: 1px solid #3f7f00;
    }

    td {
        vertical-align: middle;
        border: 1px solid #3f7f00;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 13px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: #000000;
    }
</style>
<br>
<h2>Dates de sorties :</h2>
<table>
    <tr>
        <td>
            La date de sortie du nouveau jeu de la franchise Call of Duty à été dévoilé soit le : 6 Novembre 2015
        </td>
    </tr>
    <tr>
        <td>
            La date de sortie du tout nouveau Rainbow Six à été dévoilé soit le : 13 octobre 2015
        </td>
    </tr>
    <tr>
        <td>
            La date de sortie du tout nouveau Halo 5 "Guardians" à été dévoilé soit le : 27 octobre 2015
        </td>
    </tr>
</table>
<br>
<br>
<h2>Mise à jour de jeu :</h2>
<table>
    <tr>
        <td>
            La mise à jour 2.2.1 est sortie sur Diablo 3, aller essayer!
        </td>
    </tr>
    <tr>
        <td>
            World of Warcraft on introduit les "Tokens" dans leur dernière mise à jour.
        </td>
    </tr>
    <tr>
        <td>
            Heroes of the storm est maintenant en béta ouvert!
        </td>
    </tr>
</table>