@model test.Models.Users
@{
    ViewBag.Title = "Lister";
}

<style>

    
    span {
        border-radius: 25px;
        border: 2px solid black;
        padding: 4px;
        background-color: lightgreen;
        font-family: monospace;
    }

    img:hover {
        border: 2px solid black;
    }

    img {
        padding: 2px;
        width: 200px;
        height: 200px;
    }

</style>

<h2>Lister</h2>


@Html.Partial("PartialList",Model);


<script type="text/javascript">
    var timer;
    function LoadPartialList() {
        $.ajax({
            url: '@Url.Action("PartialList", new { id=ViewBag.page})',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                $('#contributors').html(result);
            }
        });
    }
    $
    ChargeVuePartielle();
    $(function () {
        timer = window.setInterval("LoadPartialList()", 3000);
    });
</script>
