@model test.Models.Users

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<style>

    tr td:first-child {
        text-align: right;
        vertical-align: top;
    }

    td {
        padding: 5px;
    }
</style>
<br />
@Html.ValidationSummary()
<form method="post" action="">
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td><label for="UserName"> Username: </label></td>
                        <td><input type="text" name="UserName" /></td>
                        @Html.ValidationMessage("UsersLogin", "userName")
                    </tr>
                    <tr>
                        <td><label for="Password"> Password: </label> </td>
                        <td><input type="text" name="Password" /></td>
                        @Html.ValidationMessage("UsersLogin", "password")
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Connection" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>


