@model test.Models.Users



<style>
    .radio_buttons tr:nth-child(odd) td {
        background-color: #EEEEEE;
    }

    .radio_buttons tr:nth-child(even) td {
        background-color: #DDDDDD;
    }

    tr td:first-child {
        text-align: right;
        vertical-align: top;
    }

    td {
        padding: 5px;
    }
</style>
<br />
<br />
<form method="post">

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Subscribe</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>

            </dt>
            <dd>

            </dd>
        </dl>

    </div>
</div>

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>Username: </td>
                        <td><input name="UserName" id="UserName" type="text" data-val-required="Un nom d'utilisateur est requis'"/>
                        <span class="field-validation-valid" data-valmsg-for="UserName"></span></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td><input name="Password" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Prénom: </td>
                        <td><input name="Prenom" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Nom: </td>
                        <td><input name="Nom" type="text" /></td>
                    </tr>
                    <tr>
                        <td>Téléphone: </td>
                        <td><input name="Telephone" type="tel" /></td>
                    </tr>
                    <tr>
                        <td>Naissance: </td>
                        <td><input name="Naissance" style="width:174px;" type="date" /></td>
                    </tr>
                    <tr>
                        <td>Sexe: </td>
                        <td>
                            <table class="radio_buttons">
                                <tr><td style="text-align:left; padding:0px;"><input type="radio" name="Sexe" value="0" />masculin</td></tr>
                                <tr><td style="text-align: left; padding: 0px;"><input type="radio" name="Sexe" value="1" />feminin</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:left;"><input type="submit" value="Ajouter..." /></td>
                    </tr>
                </table>
            </td>
            <td>
                <img id="Image" src="/Images/anonymous.jpg" style="width:240px; height:180px" /><br />
                <input id="Image_path" onchange="preload(this)" type="file" />
            </td>
        </tr>
    </table>
</form>